<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  
  <app-bar></app-bar>
  
  <hero-element></hero-element>

  <main>
    <section class="content">
      <div class="latest">
        <h1 class="latest__label">Explore Restaurant</h1>
        <div id="maincontent" class="posts">
          
        
        </div>
      </div>
    </section>
  </main>
  <footer-custom></footer-custom> 
</body>
</html>
